{% extends 'base.html' %}

{% block content %}

<h1>To-Do Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ task.name }}</span>
        <p>To-Do: {{ task.todo }}</p>
        <p>Description: {{ task.description|linebreaks }}</p>
        {% if task.age > 0 %}
          <p>Task: {{ task.age }}</p>
        {% else %}
          <p>Task: Dishes</p>
        {% endif %}
        <p>Categories:</p>
        <ul>
            {% for category in task.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'tasks_update' task.id %}">Edit</a>
        <a href="{% url 'tasks_delete' task.id %}">Delete</a>
      </div>
    </div>
  </div>

  <div class="col s6">
    <form action="{% url 'tasks_index' %}" method="POST">
      {% csrf_token %}
      <label for="id_todo">To-Do:</label>
      <input type="text" id="id_todo" name="todo" required>
      <label for="id_when">When:</label>
      <input type="text" id="id_when" name="when" required>
      <input type="submit" class="btn" value="Add To-Do">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Task</th></tr>
      </thead>
      <tbody>
        {% for to_do in task.task_set.all %}
          <tr>
            <td>{{ to_do.date }}</td>
            <td>{{ to_do.get_to_do_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}