{% extends 'base.html' %}

{% block content %}

<h1>To Do List</h1>

{% for task in tasks %}
  <div class="card">
    <div class="card-content">
      <span>{{ task.todo }}</span>
      <p>When: {{ task.when }}</p> 
    </div>
  </div>
<a href="{% url 'tasks_update' pk=task.id %}">Edit</a>
<a href="{% url 'tasks_delete' pk=task.id %}">Delete</a>
{% endfor %}

<h2>Motivational Quotes</h2>
{% for quote in quotes %}
  <blockquote>
  <p>{{ quote.q }}</p>
  <footer>{{ quote.a }}</footer>
  </blockquote>
{% endfor %}

{% endblock %}