{% extends 'base.html' %}

{% block content %}

<h1>Favorite Quotes</h1>

<h2>Random Quotes</h2>

{% for quote in quotes %}
    <blockquote>
        <p>{{ quote.q }}</p>
        <footer>{{ quote.a }}</footer>
        <form action="{% url 'save_quote' %}" method="POST"
            {% csrf_token %}
            <input type="hidden" name="quote" value="{{ quote.q }}">
            <input type="hidden" name="author" value="{{ quote.a }}">
            <button type="submit">Save</button>
        </form>
    </blockquote>
{% endfor %}

<h2>Your Saved Quotes</h2>

{% for favorite_quote in favorite_quotes%}
        <p>{{ favorite_quote.quote_text }} - {{ favorite_quote.author }}</p>
        <p>Associated Quote: {{ favorite_quote.quote.quote_text }} - {{ favorite_quote.quote.author}}
{% endfor %}

{% endblock %}